[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
dash = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
dash-bootstrap-components = "*"
gunicorn = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.8"
