body{
    background-color:rgb(236, 236, 236);
}

.boxes{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}

.tittleboxes{
    border:2px;
    border-color:#A8151C;
    border-radius: 3%;


}