
<html>
<head>
<tittle>Iberia </tittle>


</head>

<body>
    <div className="iberia-header">
                <div className='top-header'>
                    <div className='tittle'>
                        <h1>Iberia</h1>
                    </div>
                    <div className='logo-image'>
                        <img className="logo-image" src="static/iberialogo.png">
                    </div>
                    
                </div>
               
                <div className='iberia-bottom'>
                    
                </div>
      </div>




{% block content %}
<div class="container theme-showcase" role="main" style="margin-top: 75px">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        
    </div>
</div>
{% endblock %}


</body>
</html>